<table class="listing" id="table_verified">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th><!-- Verified  -->ID<%#=raw(get_sortdirection(@thd[0]))%></th>
      <th>Username<%#=raw(get_sortdirection(@thd[1]))%></th>
      <th>Password</th>
      <th>Create Account</th>
      <th>Modify Account</th>
      <th>Delete Account</th>
      <th>Create Customer</th>
      <th>Modify Customer</th>
      <th>Remove Customer</th>
      <th>Create Device</th>
      <th>Modify Device</th>
      <th>Remove Device</th>
      <th>Create Ticket</th>
      <th>Modify Ticket</th>
      <th>Remove Ticket</th>
      
      <% if is_adminuser(current_user.username) || hp_account(current_user.username) %>
        <th colspan="3" style="text-align:center">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @verifieds.blank? || @verifieds.nil? %>
      <td colspan="19" height="38px" style="text-align:center">No Administrators</td>
    <% else %>
      <% @verifieds.each do |verified| %>
        <tr>
          <td class="td-clickable">
            <!-- &#9658; -->
            <i class="fa fa-fw fa-angle-right" style="font-size:18px;"></i>
          </td>
          <td class="td-clickable">
            <% if get_devices(verified.email).count == 0 %>
              <i class="fa fa-fw fa-user" style="font-size:18px;"></i>
            <% else %>
              <i class="fa fa-laptop" style="color:palegoldenrod;font-size:18px;"><span style="font-size:8px;margin-top:4px;"><%= get_devices(verified.email).count %></span></i>
            <% end %>
          </td>
          <td class="td-clickable"><%= verified.id %></td>
          <td class="td-clickable" style="text-align:center;"><%= verified.username %></td>
          <td class="td-clickable"><%= verified.password %></td>
          
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_caccount)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_maccount)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_daccount)) %></td>

          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_ccustomer)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_mcustomer)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_dcustomer)) %></td>

          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_cdevice)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_mdevice)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_rdevice)) %></td>

          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_cticket)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_rticket)) %></td>
          <td class="td-clickable" style="text-align:center;"><%= raw(get_checkicon(verified.is_dticket)) %></td>
          
          <% if is_adminuser(current_user.username) || hp_account(current_user.username)%>
            <td>
              <%= link_to(verified, :class=>'btn btn-default btn-td', :style=>'padding:3px 4px;', "data-toggle"=>"tooltip", "title"=>"Review") do %>
                <i class="fa fa-fw fa-eye" style="font-size:16px;color:purple"></i> <!-- Detail -->
              <% end %>
            </td>
            <td>
              <%= link_to(edit_verified_path(verified), :class=>'btn btn-default btn-td', :style=>'padding:3px 4px;', "data-toggle"=>"tooltip", "title"=>"Edit") do %>
                <i class="fa fa-fw fa-leaf" style="font-size:16px;color:green;"></i><!-- Edit Permission -->
              <% end %>
            </td>
            <td class="td-clickable">
              <%= button_tag(:class=>'btn btn-default btn-td', :style=>'padding:3px 4px;', "data-toggle"=>"tooltip", "title"=>"Suspend") do %>
                <i class="fa fa-fw fa-level-down" style="font-size:16px;color:#e08e0b"></i><!-- Suspend -->
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr class="sub-tr" id="servers_<%=verified.id%>" style="display:none;border:none;">
          <td class="hidden_"></td>
          <td class="hidden_" colspan="16" style="padding-left:20px;">
            <div style="content-div">
              <% if get_devices(verified.username).blank? %>
                <div class="col-lg-12" style="padding:15px 0;">
                  <div class="col-lg-3">
                    <i class="fa fa-fw fa-asterisk" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Account Type: <%= raw(get_usertype(verified.account_type)) %><br/><br/>
                    <i class="fa fa-fw fa-envelope" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Email Address: <%= verified.pemail %><br/><br/>
                    <i class="fa fa-fw fa-phone" style="color:palegoldenrod;font-size:18px;margin:-2px 0;"></i>&nbsp;Mobile Number: <%= verified.number %><br/><br/>
                  </div>
                  <div class="col-lg-3">
                    <i class="fa fa-fw fa-font" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;First Name: <%= verified.first_name %><br/><br/>
                    <i class="fa fa-fw fa-bold" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Last Name: <%= verified.last_name %><br/><br/>
                  </div>
                  <div class="col-lg-3">
                    <i class="fa fa-fw fa-building-o" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;City: <%= verified.city %><br/><br/>
                    <i class="fa fa-fw fa-home" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;State: <%= verified.state %><br/><br/>
                    <i class="fa fa-fw fa-flag" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Country: <%= raw(get_countryname(verified.country)) %><br/><br/>
                  </div>
                  <div class="col-lg-3" style="text-align:center;display:none;" id="cd_verified_<%=verified.id%>">
                    <div class="sub-comment" style="background-color:rgba(84, 130, 143, 0.4);padding:10px;">
                      <%= simple_form_for :search, :id=>'form_filter_verifieds', :method=>'get', :html=>{:style=>'display:inline-block'}, :remote=>true do |f| %>
                        <%= hidden_field_tag "verified_id", nil, :value=>verified.id %>
                        <div class="triangle-right">
                        </div>
                        <i class="fa fa-fw fa-exclamation-triangle" style="font-size:16px;color:white"></i>&nbsp;Are you sure suspending this account?<br/><br/>
                        <%#= link_to(verified, method: :delete, :class=>'btn btn-warning btn-td', :style=>'padding:3px 4px;') do %>
                        <%= button_tag(type:"submit", :class=>'btn btn-warning btn-td', :style=>'padding:3px 4px;') do %>
                          <i class="fa fa-fw fa-check-circle" style="font-size:16px;color:white"></i>Yes<!-- Suspend -->
                        <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <%= label_tag(nil, :class=>'btn btn-info btn-td btn-tdclosev', :style=>'padding:3px 4px;font-weight:normal', :id=>'btn_tdclose_'+verified.id.to_s) do %>
                          <i class="fa fa-fw fa-times-circle" style="font-size:16px;color:white"></i>&nbsp;No
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <% get_devices(verified.username).each do |d| %>
                  <div class="col-lg-12" style="padding:15px 0;">
                    <div class="col-lg-3">
                      <%= image_tag('server1.png', size: "60") %>
                    </div>
                    <div class="col-lg-3">
                      Device Type: <%= d.device_type %><br/><br/>
                      location: <%= d.location %>
                    </div>
                    <div class="col-lg-3">
                      Public IP: <%= d.public_ip %><br/><br/>
                      Private IP: <%= d.private_ip %>
                    </div>
                    <div class="col-lg-3">
                      Processor: <%= d.osprocessor %><br/><br/>
                      RAM: <%= d.osram %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </td>
          <td class="hidden_" colspan="3" style="padding-left:20px;">
            <%= label_tag(nil, :class=>'btn btn-warning btn-td btn-sc-verified', :style=>'padding:3px 4px;', :id=>'btn_sc_' + verified.id.to_s) do %>
              <i class="fa fa-fw fa-exclamation-triangle" style="font-size:16px;color:white"></i>Suspend<!-- Suspend -->
            <% end %>
            <span class="span_br"><br/><br/></span>
            <%= label_tag(nil, :class=>'btn btn-info btn-td btn-tdclose btn-tdcloseve', :style=>'padding:3px 4px;font-weight:normal', :id=>'btn_tdcloseve_'+verified.id.to_s) do %>
              <i class="fa fa-fw fa-times-circle" style="font-size:16px;color:white"></i>&nbsp;Close
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    $('.pagination a').attr('data-remote', 'true');
  });
  
  $('#select_verified_rows').dropdown();

  var headertext = [],
  headers = document.querySelectorAll('#table_verified th'),
  tablerows = document.querySelectorAll('#table_verified th'),
  table_body = document.querySelector('#table_verified tbody');

  for (var i = 0; i < headers.length; i++) {
    var current = headers[i];

    headertext.push(current.textContent.replace(/\r?\n|\r/,""));
    // console.log(current.textContent);
  }

  for (var i = 0, row; row = table_body.rows[i]; i++) { 
    for(var j = 1, col; col = row.cells[j]; j++) {
      if ( headertext[j] && ( i%2 == 0 ) && j != 17) {
        col.setAttribute('data-th', headertext[j]);
      }

      if ( i%2 == 1 ) {
        col.setAttribute('style', 'border:none;');
      }

      if ( j != 3) {
        col.setAttribute('style', 'text-align:left;');
      }
    }

    if ( i%2 == 1 ) {
      col = row.cells[0];
      col.setAttribute('data-th', 'Personal Info');  
    }

  }

</script>