<script>
  show_loading();
</script>

<div class="row col-lg-12">
  <div class="col-lg-4 table_nav1" style="display:inline-block;">
    <div class="col-lg-5" style="margin-top:5px;">
      <% if @pcustomers.nil? || @pcustomers.blank? %>
        <span>Viewing 0 to 0 of 0 </span>
      <% else %>
        <span>
          Viewing 
          <% if @page_number == 1 %> 
            <%= 1 %>
          <% else %>
            <%= 1 + (@page_number.to_i - 1) * @rows.to_i %>
          <% end %>
          to 
          <% if @rows.to_i*@page_number.to_i > @pcustomers.count %>
            <%= @pcustomers.count %> 
          <% else %>
            <%= @rows.to_i*@page_number.to_i %> 
          <% end %>
          of <%=@pcustomers.count%> 
        </span>
      <% end %>&nbsp;&nbsp;
    </div>
    <div class="col-lg-7">
      Displaying&nbsp;&nbsp;
      <div class="ui selection dropdown rows" tabindex="0" style="overflow:visible;padding:0 0!important;height:28px;" id="select_pcustomer_rows">
        <div class="default text" style="margin:6px;">
          <% if !@rows.nil? %>
            <%= @rows %>
          <% else %>
            Select
          <% end %>
        </div>
        <!-- <input type="hidden" name="hidden-field"> -->
        <div class="menu" tabindex="-1" style="position:fixed;margin-right: -16px;">
          <div data-value="5" class="item">5</div>
          <div data-value="10" class="item">10</div>
          <div data-value="20" class="item">20</div>
          <div data-value="50" class="item">50</div>
        </div>
      </div>
      &nbsp;&nbsp;per page
      <%= form_tag('/pcustomers/setrows', method: :post, :id=>'form_pcustomer_setrows', :style=>'display:none;') do -%>
        <%= hidden_field_tag "pcustomer_rows" %>
      <% end -%>
    </div>
  </div>
  <div class="col-lg-4 table_nav2" style="text-align:right;margin-top:-1px;display:inline-block;">
    <% if !@pcustomer.blank? || @pcustomer.nil? %>
      <% sal = will_paginate @pcustomer, :previous_label => '<', :next_label => '>' %>
      <%= sal %>
    <% end %>
  </div>

  <% if !sal.nil? %>
    <div class="col-lg-4 table_nav3"  style="text-align:right;display:inline-block;">
  <% else %>
    <div class="col-lg-offset-4 col-lg-4 table_nav3"  style="text-align:right;display:inline-block">
  <% end %>
    <%#= form_tag('/pcustomers/filter', method: :post, :id=>'form_filter_pcustomer', :style=>'display:inline-block') do -%>
    <%= simple_form_for :search, :id=>'form_filter_pcustomer', :method=>'get', :html=>{:style=>'display:inline-block'}, :remote=>true do |f| %>
      <%= text_field_tag "search", nil, :style=>'width:180px;height:33px;padding-left:11px;', :value=>@filter_word %>
      <%= button_tag(type: "submit", class:'btn btn-info btn-td', :style=>'padding: 6px 8px;marign-left:-3px;position:relative;left:-3px;') do %>
        <i class="fa fa-fw fa-search"></i>
      <% end %>          
    <% end -%>
  </div>
</div>

<div class="row">
  <table class="listing" id="table_pcustomer">
    <thead>
      <tr>
        <%= form_tag(pcustomers_url, :id=>'form_sort_pcustomer' ) do %>
          <%= hidden_field_tag "id_sort", nil, :value=>@id_sort %>
          <%= hidden_field_tag "username_sort", nil, :value=>@username_sort %>
          <%= hidden_field_tag "pcustomer_rows", nil, :value=>@rows %>
        <% end %>
        <th></th>
        <th></th>
        <th>ID<%= raw(get_sortdirection(@thd[0]))%></th>
        <!-- <th>Email addr</th> -->
        <th>Username<%= raw(get_sortdirection(@thd[1]))%></th>
        <th>Password</th>
        <th class="th_center">Read Ticket</th>
        <th class="th_center">Write Ticket</th>
        <th class="th_center">Delete Ticket</th>
        <th class="th_center">Saving Ticket</th>
        <th class="th_center">Create Device</th>
        <th class="th_center">Remove Device</th>
        <th class="th_center">Modify Device</th>
        <% if is_adminuser(current_user.username) || hp_account(current_user.username) %>
          <th colspan="3" style="text-align:center">Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @pcustomers.blank? || @pcustomers.nil? %>
        <td colspan="16" style="text-align:center">No New Customers</td>
      <% else %>
        <% @pcustomers.each do |pcustomer| %>
          <tr class="real-tr">
            <td class="td-clickable">
              <!-- &#9658; -->
              <i class="fa fa-fw fa-angle-right" style="font-size:18px;"></i>
            </td>
            <td class="td-clickable">
              <% if get_devices(pcustomer.username).count == 0 %>
                <i class="fa fa-fw fa-user" style="font-size:18px;"></i>
              <% else %>
                <i class="fa fa-laptop" style="color:palegoldenrod;font-size:18px;"><span style="font-size:8px;margin-top:4px;"><%= get_devices(pcustomer.username).count %></span></i>
              <% end %>
            </td>
            <td class="td-clickable"><%= pcustomer.id %></td>
            <!-- <td class="td-clickable"><%#= pcustomer.username %></td> -->
            <td class="td-clickable"><%= pcustomer.username %></td>
            <td class="td-clickable"><%= pcustomer.password %></td>
            
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_rticket)) %></td>
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_wticket)) %></td>
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_dticket)) %></td>
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_sticket)) %></td>

            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_cdevice)) %></td>
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_rdevice)) %></td>
            <td class="td-clickable"><%= raw(get_checkicon(pcustomer.is_mdevice)) %></td>
            <% if is_adminuser(current_user.username) || hp_customer(current_user.username) %>
              <% if is_adminuser(current_user.username) || hp_customer(current_user.username) %>
                <td><%= link_to 'Accept', pcustomer, :class=>'btn btn-info btn-td a_loading'%></td>
              <% else %>
                <td><%= link_to 'Accept', pcustomer, :class=>'btn btn-info btn-td a_loading', :disabled=>true %></td>  
              <% end %>
              <td>
                <%= link_to 'Edit Permission', edit_pcustomer_path(pcustomer), :class=>'btn btn-success btn-td a_loading' %>
              </td>
              <td class="td-clickable">
                <%= label_tag 'Suspend',nil, :class=>'btn btn-warning btn-td' %>
              </td>
            <% end %>
          </tr>
          <tr class="sub-tr" id="trpcus_<%=pcustomer.id%>" style="display:none;border:none;">
            <td style="border:none;"></td>
            <td style="border:none" colspan="10" style="padding-left:20px;">
              <div style="content-div col-lg-12">
                <% if get_devices(pcustomer.username).blank? %>
                  <div style="content-div">
                    <div class="col-lg-12" style="padding:15px 0;">
                      <div class="col-lg-3">
                        <i class="fa fa-fw fa-font" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;First Name: <%= pcustomer.first_name %><br/><br/>
                        <i class="fa fa-fw fa-bold" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Last Name: <%= pcustomer.last_name %><br/><br/>
                      </div>
                      <div class="col-lg-3">
                        <i class="fa fa-fw fa-envelope" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Email Address: <%= pcustomer.pemail %><br/><br/>
                        <i class="fa fa-fw fa-phone" style="color:palegoldenrod;font-size:18px;margin:-2px 0;"></i>&nbsp;Phone: <%= pcustomer.number %><br/><br/>
                      </div>
                      <div class="col-lg-3">
                        <i class="fa fa-fw fa-building-o" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;City: <%= pcustomer.city %><br/><br/>
                        <i class="fa fa-fw fa-home" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;State: <%= pcustomer.state %><br/><br/>
                      </div>
                      <div class="col-lg-3">
                        <i class="fa fa-fw fa-flag" style="color:palegoldenrod;font-size:14px;margin:-2px 0;"></i>&nbsp;Country: <%= raw(get_countryname(pcustomer.country)) %><br/><br/>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <% get_devices(pcustomer.username).each do |d| %>
                    <div class="col-lg-12" style="padding:15px 0;">
                      <div class="col-lg-3">
                        <%= image_tag('server1.png', size: "60") %>
                      </div>
                      <div class="col-lg-3">
                        Device Type : <%= d.device_type %><br/><br/>
                        location : <%= d.location %>
                      </div>
                      <div class="col-lg-3">
                        Public IP : <%= d.public_ip %><br/><br/>
                        Private IP : <%= d.private_ip %>
                      </div>
                      <div class="col-lg-3">
                        Processor : <%= d.osprocessor %><br/><br/>
                        RAM : <%= d.osram %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td colspan="3" style="background-image:none!important;background;transparent!important;border:none!important;">
              <div class="col-lg-12" style="text-align:center;display:none;" id="cd_pcustomer_<%=pcustomer.id%>">
                <div class="sub-comment" style="margin:0 0;background-color:rgba(84, 130, 143, 0.4);padding:10px;">
                  <%= simple_form_for :delete_pcustomer, :id=>'form_delete_pcustomer', :method=>'get', :html=>{:style=>'display:inline-block'}, :remote=>true do |f| %>
                    <%= hidden_field_tag "pcustomer_id", nil, :value=>pcustomer.id %>
                    <!-- <div class="triangle-right">
                    </div> -->
                    <i class="fa fa-fw fa-exclamation-triangle" style="font-size:16px;color:white"></i>&nbsp;Are you sure removing this pcustomer?<br/><br/>
                    <%#= link_to(pcustomer, method: :delete, :class=>'btn btn-warning btn-td', :style=>'padding:3px 4px;') do %>
                    <%= button_tag(type:"submit", :class=>'btn btn-warning btn-td', :style=>'padding:3px 4px;') do %>
                      <i class="fa fa-fw fa-check-circle" style="font-size:16px;color:white"></i>Yes<!-- Suspend -->
                    <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= label_tag(nil, :class=>'btn btn-info btn-td btn-tcpclose', :style=>'padding:3px 4px;font-weight:normal', :id=>'btn_tcpclose_'+pcustomer.id.to_s) do %>
                      <i class="fa fa-fw fa-times-circle" style="font-size:16px;color:white"></i>&nbsp;No
                    <% end %>
                  <% end %>
                </div>
              </div>
            </td>
            </td>
            <td colspan="3" class="hidden_" style="background-image:none!important;background;transparent!important;border:none!important;"> 
              <%= label_tag(nil, method: :delete, :class=>'btn btn-warning btn-td btn-scp', :style=>'padding:3px 4px;', :id=>'btn_scp_'+pcustomer.id.to_s) do %>
                <i class="fa fa-fw fa-exclamation-triangle" style="font-size:16px;color:white"></i>Decline<!-- Suspend -->
              <% end %>
              <span class="span_br"><br/><br/></span>
              <%= label_tag(nil, :class=>'btn btn-info btn-td btn-tpcclose', :style=>'padding:3px 4px;font-weight:normal', :id=>'btn_tpc_close_'+pcustomer.id.to_s) do %>
                <i class="fa fa-fw fa-times-circle" style="font-size:16px;color:white"></i>&nbsp;Close
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  _fix();
  
  $(function() {
    $('.pagination a').attr('data-remote', 'true');
  });

  $('#select_pcustomer_rows').dropdown();

  $('#li_customer').attr('class', 'treeview active');
  $('#ul_customer').css('display', 'block');

  $('#ul_customer').find('li').eq(1).css('background-color','#b1b1b1');
  $('#ul_customer').find('li').eq(1).find('a').css('color','#000');

  var headertext = [],
  headers = document.querySelectorAll('#table_pcustomer th'),
  tablerows = document.querySelectorAll('#table_pcustomer th'),
  table_body = document.querySelector('#table_pcustomer tbody');

  for (var i = 0; i < headers.length; i++) {
    var current = headers[i];

    headertext.push(current.textContent.replace(/\r?\n|\r/,""));
    // console.log(current.textContent);
  }

  for (var i = 0, row; row = table_body.rows[i]; i++) { 
    for(var j = 3, col; col = row.cells[j]; j++) {
      if ( headertext[j] && ( i%2 == 0 ) && (j != 12 ) )  {
        col.setAttribute('data-th', headertext[j]);
      }

      if ( i%2 == 1 ) {
        col.setAttribute('style', 'border:none;');  
      }
      // col.setAttribute('style', 'text-align:left;');
      // console.log(col);
      // console.log(headertext[j]);
    }

    if ( i%2 == 1 ) {
      col = row.cells[0];
      col.setAttribute('data-th', 'Detail');  
    }

  }

  hide_loading();

</script>